#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.infoBox {
  background-color: rgb(186, 186, 238);
  padding: 20px;
  margin: 5px;
}

.unordered-list {
  list-style-type: none;
  margin: 0px auto;
  padding: 0px;
}